services:
  app:
    build:
      context: .
      target: development
    ports:
      - '3000:3000'
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - node_modules_livespro_solutions:/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - NODE_ENV=development
    stdin_open: true
    tty: true

volumes:
  node_modules_livespro_solutions:
    driver: local
